{{!-- <div class="row justify-content-center my-5">
  <div class="col col-sm-8 col-md-6 col-lg-4">
    <div class="intro-register-img mb-4">
       <img src="/img/gymlogo.png" class="w-40 mx-auto d-block" style="width: 250px;px;" alt="intro" >
    </div>
    <form action="/login" method="post">

      <div class="input-group mb-2">
        <input type="text" name="email" class="form-control py-2 ps-4 {{#if errors.email}}is-invalid{{/if}}" placeholder="user@example.org" aria-label="User email" value="{{ user.email }}">
        {{#if errors.email}}<div class="invalid-feedback">{{ errors.email }}</div>{{/if}}
      </div>

      <div class="input-group mb-3">
        <input type="password" name="password" class="form-control py-2 ps-4" placeholder="Password" aria-label="User password">
        <button class="btn btn-outline-secondary password-toggle c-dark" type="button">
          <i class="fa fa-eye-slash fa-fw"></i>
        </button>
      </div>

      <div class="d-grid gap-2">
        <button type="submit" class="btn btn-primary bg-light-green border-0">Login</button>
      </div>

      <div class="d-grid gap-2 mt-2">
        <a href="/login/google" class="btn btn-danger border-0">
          <i class="fa fa-google"></i>Login with Google
        </a>
      </div>
    </form>
  </div>
</div> --}}



<section class="vh-70 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <form action="/login" method="post">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <div class="mb-md-5 mt-md-4 pb-5">

              <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
              <p class="text-white-50 mb-5">Please enter your login and password!</p>

              <div class="form-outline form-white mb-4">
                <input type="text" name="email" class="form-control py-2 ps-4 {{#if errors.email}}is-invalid{{/if}}" placeholder="user@example.org" aria-label="User email" value="{{ user.email }}">
        {{#if errors.email}}<div class="invalid-feedback">{{ errors.email }}</div>{{/if}}
                <label class="form-label" for="typeEmailX">Email</label>
              </div>

              <div class="form-outline form-white mb-4">
                 <input type="password" name="password" class="form-control py-2 ps-4" placeholder="Password" aria-label="User password">
        
         
        
                <label class="form-label" for="typePasswordX">Password</label>
              </div>

              <p class="small mb-5 pb-lg-2"><a class="text-white-50" href="#!">Forgot password?</a></p>

              <button class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>

              <div class="d-flex justify-content-center text-center mt-4 pt-1">
               
                <a href="/login/google" class="text-white"><i class="fa fa-google fa-lg"></i></a>
              </div>

              {{!-- <button class="btn btn-lg btn-block " style="background-color: #dd4b39;" type="submit"><i class="fa fa-google me-2"></i> Sign in with google</button> --}}

            </div>

            <div>
              <p class="mb-0">Don't have an account? <a href="/register" class="text-white-50 fw-bold">Sign Up</a></p>
            </div>

          </div>
        </div>
        </form>
      </div>
    </div>
  </div>
</section>