<div id="home-header">
  <h1>Welcome board my friend</h1>
</div>
<div class="body-hover">
  <div class="container-gym gym">
    <div class="productImage gymImg1"></div>
    <div class="size gymSize">
      <h4>MODS</h4>
      <ul class="new-ul">
        <li class="new-li">S</li>
        <li class="new-li">MA</li>
        <li class="new-li">G</li>
      </ul>
    </div>
    <div class="price gymPrice">
      <h4>PRICE</h4>
      <span>50$</span>
    </div>
    <div class="color gymColor">
      <h4></h4>
      <ul class="new-ul">
        <li class="new-li"><span class="blue"></span></li>
        <li class="new-li"><span class="yellow"></span></li>
        <li class="new-li"><span class="red"></span></li>
      </ul>
    </div>
    <div class="productName gymName">
      BASIC FIT GYM
    </div>
  </div>
  <div class="container-gym gym2">
    <div class="productImage gymImg2"></div>
    <div class="size gym2Size">
      <h4>MODS</h4>
      <ul class="new-ul">
        <li class="new-li">S</li>
        <li class="new-li">MA</li>
        <li class="new-li">G</li>
      </ul>
    </div>
    <div class="price gym2Price">
      <h4>PRICE</h4>
      <span>$50</span>
    </div>
    <div class="color gym2Color">
      <h4></h4>
      <ul class="new-ul">
        <li class="new-li"><span class="blue"></span></li>
        <li class="new-li"><span class="yellow"></span></li>
        <li class="new-li"><span class="red"></span></li>
      </ul>
    </div>
    <div class="productName gymName1">
      GRAN PLAZA GYM
    </div>
  </div>
  <div class="container-gym gym2">
    <div class="productImage gymImg3"></div>
    <div class="size gym2Size">
      <h4>MODS</h4>
      <ul class="new-ul">
        <li class="new-li">S</li>
        <li class="new-li">MA</li>
        <li class="new-li">G</li>
      </ul>
    </div>
    <div class="price gym2Price">
      <h4>PRICE</h4>
      <span>$50</span>
    </div>
    <div class="color gym2Color">
      <h4></h4>
      <ul class="new-ul">
        <li class="new-li"><span class="blue"></span></li>
        <li class="new-li"><span class="yellow"></span></li>
        <li class="new-li"><span class="red"></span></li>
      </ul>
    </div>
    <div class="productName gymName1">
      GYMAGE LOUNGE RESORT
    </div>
  </div>
</div>

<div class="body-testimony">
<!-- partial:index.partial.html -->
<div class="testimonial-container">
      <div class="progress-bar"></div>
      <div class="fa fa-quote-left fa-quote"></div>
      <div class="fa fa-quote-right fa-quote"></div>
      <p class="testimonial font-weight-bold">
        This app is the best thing you will have to get in shape.
      </p>
      <div class="user">
        <img
          src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=200&fit=max&s=707b9c33066bf8808c934c8ab394dff6"
          alt="user"
          class="user-image"
        />
        <div class="user-details">
          <h4 class="username text-dark font-weight-bold">Miyah Myles</h4>
          <p class="role"></p>
        </div>
      </div>
    </div>
<!-- partial -->

  </div>